* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    padding: 10px;
    min-height: 50px;
    background: white;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

nav a {
    color: grey;
    font-size: 20px;
}

nav > ul {
    display: flex;
    align-items: center; 
    gap: 24px; 
    height: 100%; 
}

.logo {
    margin: 0px;
    height: 60px;
}
nav img {
    height: 30px;
    width: auto;
    padding-left: 80px;
    margin-top: 12px;
}

nav > ul > li {
    margin: 0; /* zera */
}

nav > a {
    vertical-align: bottom;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.Build {
    float: left;
    clear: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60vh;
    object-fit: cover;
}

.BuildNames > p{
    display: flex;
    float: right;
    clear: left;
    width: 35%;
    font-size: 20px;
}


main {
    position: relative;
    min-height: 100vh;
}

.user {
    position: relative;
    padding-left: 950px;
    max-width: 30px;
    height: auto;
    
}

.user img {
    max-width: 100px;
    height: auto;
}

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 1%;
    min-height: 70px;
    top: 0;
    background-color: black;
    z-index: 100;
    display: flex;
    padding: 10px 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

footer a {
    color: white;
    margin-left: 50px;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;

}

section h2{
    color: black;
}

h2 {
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 70px;
    font-size: 40px;
    text-align: center;
}

.button {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-left: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px 30px;
    border: 10px;
}

.performance-specs {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}


.spec {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spec .label {
    font-size: 18px;
    color: #333;
}

.spec .value {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.spec .unit {
    font-size: 14px;
    color: #555;
}
