#contact-form{
    display: grid;
    background-color: rgb(255, 255, 255);
    width: 100%;
    grid-template-areas:
        "photo message "
        "contact contact ";
    justify-content: center;
    align-content: center;
    gap: 10px;
    border-radius: 30px;

}

nav {
    grid-area: heading;
    padding: 10px;
    min-height: 50px;
    background: white;
    color: black;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline;   
}

nav a {
    color: grey;
    font-size: 20px;
}

nav > ul {
    display: flex;
    align-items: center; 
    gap: 24px; 
    height: 100%; 
}

.logo {
    margin: 0px;
    height: 60px;
}
nav img {
    height: 30px;
    width: auto;
    padding-left: 80px;
    margin-top: 12px;
}

nav > ul > li {
    margin: 0;
}

nav > a {
    vertical-align: bottom;
}

.user {
    position: relative;
    padding-left: 950px;
    max-width: 30px;
    height: auto;
    
}

.user img {
    max-width: 40px;
    height: auto;
}

header {
    grid-area: message;
    padding: 10px;
    min-height: 50px;
    background: black;
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 30px;
}

.photo img{
    grid-area: photo;
    float: left;
    max-width: 300px;
    height: auto;
    border-radius: 50px;
    clear: both;
}

.contact{
    grid-area: contact;
    max-width: 30px;
    padding-right: 20px;
    height: auto;
    display: flex;
    gap: 20px;
    padding-left: 40px;
}


.contact img{
    max-width: 50px;
    padding-right: 20px;
    height: auto;
    display: flex;
    
}

.user, .logo{
    color: white;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
padding: 10px;
min-height: 50px;
background: white;
color: black;
font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
