* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    padding: 10px;
    min-height: 50px;
    background: white;
    color: black;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

nav a {
    color: grey;
    font-size: 20px;
}

nav > ul {
    display: flex;
    align-items: center; 
    gap: 24px; 
    height: 100%; 
}

.logo {
    margin: 0px;
    height: 60px;
}
nav img {
    height: 30px;
    width: auto;
    padding-left: 80px;
    margin-top: 12px;
}

nav > ul > li {
    margin: 0; /* zera */
}

nav > a {
    vertical-align: bottom;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.Build {
    float: left;
    clear: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60vh;
    object-fit: cover;
}

.BuildNames > p, .BuildNames > h2 {
    float: right;
    clear: left;
    width: 35%;
    font-size: 20px;
    color: black;
    z-index: 3;
}


main {
    position: relative;
    min-height: 100vh;
}

.user {
    position: relative;
    padding-left: 950px;
    max-width: 30px;
    height: auto;
    
}

.user img {
    max-width: 100px;
    height: auto;
}

footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 1%;
    min-height: 70px;
    top: 0;
    background-color: black;
    z-index: 100;
    display: flex;
    padding: 10px 20px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

footer a {
    color: white;
    margin-left: 50px;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;

}

section h2{
    color: black;
}

h2 {
    color: white;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 70px;
    font-size: 40px;
    text-align: center;
}

.button {
    display: inline-block;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-left: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px 30px;
    border: 10px;
}

.performance-specs {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}


.spec {
    text-align: center;
font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spec .label {
    font-size: 18px;
    color: #333;
}

.spec .value {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.spec .unit {
    font-size: 14px;
    color: #555;
}


.image-slider {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: auto;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
}

.image-slider input {
    display: none;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    gap: 1975px;               
    width: calc(300% + 60px);
}

.slides2 {
    display: flex;
    transition: transform 0.5s ease;
    gap: 197px;               
    width: calc(300% + 60px);
}

.slide {
    width: 35%;             
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.dots {
    text-align: center;
    margin-top: 15px;
}
.dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.text-index{
    padding-top: 15px;
    font-size: 15px;
font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


input#slide1:checked ~ .slides {
    transform: translateX(0%);
}
input#slide2:checked ~ .slides {
    transform: translateX(-100%);
}
input#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

input#slide4:checked ~ .slides {
    transform: translateX(-300%);
}
input#slide5:checked ~ .slides {
    transform: translateX(-400%);
}

input#slide6:checked ~ .slides {
    transform: translateX(-500%);
}
input#slide7:checked ~ .slides {
    transform: translateX(-600%);
}
input#slide8:checked ~ .slides {
    transform: translateX(-700%);
}
input#slide9:checked ~ .slides {
    transform: translateX(-800%);
}
input#slide10:checked ~ .slides {
    transform: translateX(-900%);
}

.text-index .text {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

#slide1:checked ~ .text-index .text1,
#slide2:checked ~ .text-index .text2,
#slide3:checked ~ .text-index .text3,
#slide4:checked ~ .text-index .text4,
#slide5:checked ~ .text-index .text5,
#slide6:checked ~ .text-index .text6,
#slide7:checked ~ .text-index .text7,
#slide8:checked ~ .text-index .text8,
#slide9:checked ~ .text-index .text9,
#slide10:checked ~ .text-index .text10 {
    opacity: 1;
    display: block;
}


input#slide1:checked ~ .dots label[for="slide1"],
input#slide2:checked ~ .dots label[for="slide2"],
input#slide3:checked ~ .dots label[for="slide3"],
input#slide4:checked ~ .dots label[for="slide4"],
input#slide5:checked ~ .dots label[for="slide5"],
input#slide6:checked ~ .dots label[for="slide6"],
input#slide7:checked ~ .dots label[for="slide7"],
input#slide8:checked ~ .dots label[for="slide8"],
input#slide9:checked ~ .dots label[for="slide9"],
input#slide10:checked ~ .dots label[for="slide10"] {
    background-color: black;
}
